@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grab fonts through the google link: https://fonts.googleapis.com/css2?family={family}:wght@{lowest}..{heighest}&display=swap */

@font-face {
    font-family: 'Hamlet';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/fonts/Hamlet.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url(/static/fonts/OpenSans-Condensed.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/OpenSans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

/* 
-------------------------------------------
TAGS
------------------------------------------- 
*/

body {
    @apply bg-zinc-900 text-zinc-200 fill-zinc-200 stroke-zinc-200;
    @apply flex flex-col p-2 gap-y-2 min-h-screen;
    @apply select-none touch-pan-x touch-pan-y;
}

svg {
    fill: inherit;
    stroke: inherit;
}

/* 
-------------------------------------------
CONVENIENCE
------------------------------------------- 
*/

.pseudo {
    content: "\200C";
}

.flex-center {
    @apply flex items-center justify-center;
}

.flex[hidden] {
    display: none !important;
}

.line-clamp-2[hidden] {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/* 
-------------------------------------------
TEXT
------------------------------------------- 
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-regal;
}

h1 {
    @apply text-7xl;
}

h2 {
    @apply text-6xl;
}

h3 {
    @apply text-4xl;
}

h4 {
    @apply text-3xl;
}

h5 {
    @apply text-2xl;
}

h6 {
    @apply text-xl;
}

.text-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -6px;
}

.capitalise::first-letter {
    @apply uppercase;
}

.divide-rm-5 :nth-child(5) {
    border-left-width: 0px !important;
}


/* 
-------------------------------------------
RANGE
------------------------------------------- 
*/

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
}

.range::-moz-range-thumb {
    border: none;
    width: 0;
}

.range {
    @apply rounded;
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
}

/* CSS SPECIFIC FOR IOS */
@supports (-webkit-touch-callout: none) {
    .yellow-thumb::-webkit-slider-thumb {
        background-color: theme(colors.yellow.500);
        height: 48px;
        width: 10px;
    }
}

/* BAR COLOURS */
.green-bar::-webkit-slider-thumb {
    box-shadow: -20rem 0 0 20rem theme(colors.green.800);
}

.green-bar::-moz-range-thumb {
    box-shadow: -20rem 0 0 20rem theme(colors.green.800);
}

.red-bar::-webkit-slider-thumb {
    box-shadow: -20rem 0 0 20rem theme(colors.red.800);
}

.red-bar::-moz-range-thumb {
    box-shadow: -20rem 0 0 20rem theme(colors.red.800);
}

.sky-bar::-webkit-slider-thumb {
    box-shadow: -20rem 0 0 20rem theme(colors.sky.700);
}

.sky-bar::-moz-range-thumb {
    box-shadow: -20rem 0 0 20rem theme(colors.sky.700);
}

.yellow-bar::-webkit-slider-thumb {
    box-shadow: -20rem 0 0 20rem theme(colors.yellow.600);
}

.yellow-bar::-moz-range-thumb {
    box-shadow: -20rem 0 0 20rem theme(colors.yellow.600);
}

/* 
-------------------------------------------
BUTTON
------------------------------------------- 
*/

.btn-disabled {
    @apply disabled:shadow-none disabled:bg-inherit disabled:border-zinc-800 disabled:text-zinc-500 disabled:stroke-zinc-700 disabled:fill-zinc-700;
}

.btn {
    @apply btn-disabled rounded border-2 border-transparent shadow shadow-black font-tight p-2;
}

.btn-surface-disabled {
    @apply disabled:bg-inherit disabled:border-zinc-600 disabled:text-zinc-500;
}

.btn-surface {
    @apply btn-surface-disabled rounded border-2 border-transparent font-tight p-2;
}

/* 
-------------------------------------------
INPUT
------------------------------------------- 
*/

.input {
    @apply rounded outline-none bg-inherit p-2 border-2 border-sky-900 focus:border-sky-500 invalid:border-red-500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* 
-------------------------------------------
TABLE
------------------------------------------- 
*/

.shaded-table {
    @apply border-2 border-[#212125] rounded;
}

.shaded-table> :is(*):nth-child(even) {
    @apply bg-[#212125];
}

.shaded-table-surface {
    @apply border-2 border-[#3c3c3f] rounded;
}

.shaded-table-surface> :is(*):nth-child(even) {
    @apply bg-[#3c3c3f];
}